* {
  margin: 0;
  padding: 0;
  font-family: "math";
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  background: #0c0c0c;
  color: #fff;
}

#header {
  width: 100%;
  height: 200vh;
  background-image: url(images/p.jpeg);
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0rem auto;
  padding: 1rem 8rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
  /* position: relative; */
}

/* nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
} */
/* nav ul li a:hover::after{
    width: 100%;
} */

li:hover {
  border-bottom: 2px solid #ff004f;
  transition: 0.1s;
}

.title {
  font-family: sans-serif;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.me {
  font-family: sans-serif;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.me {
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 4px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
  overflow: hidden;
}

.tab-contents ul li:hover {
  border-bottom: 0px;
  transition: 0s;
}

.tab-links.active-link::after {
  width: 120%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.project {
  color: #ababab;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 600;
  position: relative;
}

#myprojects {
  border-bottom: 0;
  transition: 0s;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

.projects-list div {
  background: #262626;
  padding: 40px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.projects-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.projects-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.projects-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

.Contact {
  color: #ababab;
  font-family: sans-serif;
  /* position: relative; */
  /* left: 130px; */
}

.social-icons {
  /* position: relative;
    left: 135px; */
}

.d {
  /* position: relative;
    left: 135px; */
}

#contact {
  display: flex;
  flex-direction: row;
  gap: 21rem;
}

.contact-left {
  flex: 3;
}

.contact-right {
  /* flex-basis: 60%; */
  /* right: 150px; */

  flex: 7;
}

.contact-left p {
  margin-top: 30;
}

.contact-left p i {
  color: #ff004f;
  margin-top: 30px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ff004f;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ababab;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  /* position: absolute;
    right: 800px;
    top: 350px; */
}

.btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  /* position: relative;
    left: 130px; */
}

.btn:hover {
  background: #ff004f;
}

form {
  /* position: relative;
    bottom: 300px;
    left: 500px; */
}

.contact-right form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form > .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin: 0 !important;
  display: block;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

/* @media only screen and (max-width:600px) {
    #header {
        background-image: url();
    }
} */

/* // media query for small devices */

@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .header-text {
    margin-top: 40%;
  }

  .about-col-1 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .about-col-2 {
    flex-basis: 100%;
  }

  .tab-titles {
    flex-direction: column;
    margin: 20px 0;
  }
  nav > ul {
    display: flex;
    gap: 11vw;
  }

  nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 4vw;
    /* position: relative; */
  }

  nav ul li {
    margin: 0;
  }

  .project {
    font-size: 16vw;
  }

  .me {
    font-size: 16vw;
  }

  .projects-list div {
    padding: 20px;
  }

  .projects-list div h2 {
    font-size: 20px;
  }

  .projects-list div a {
    font-size: 10px;
  }


  #contact{
    flex-wrap: wrap;
    gap: 4rem;
  }

  .contact-left {
    /* display: none; */
  }

  .contact-right {
    flex-basis: 100%;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    font-size: 20px;
  }

  .btn {
    margin: 20px auto;
  }

  form {
    width: 100%;
  }

  form input,
  form textarea {
    width: 100%;
  }
}

#msg{
  color: #61b752;
  margin-bottom:-10px;
  display: block;
  float: right;
  width: 325px;
}
